
body {
    font: 20px Montserrat, sans-serif !important;
    line-height: 1.8;
    color: #f5f6f7;
    
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-image: url(images/view-fix1.jpg) !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #191919;
    background-image: url(images/latar3.png) !important;
    color: #C0916A;
  }
  .bg-4 { 
    background-color: #F0F0F0;
    color: #555555;
  }
  .bg-5 { 
    background-color: #191919;
    color: #fff;
  }
  .container-fluid {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container-fluid2{
    padding-top: 310px !important;
    padding-bottom: 310px !important;
  }
  .container-fluid3 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container-fluid5{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    letter-spacing: 5px !important;
    z-index: 999999 !important;
    width: 100% !important;
    position: fixed !important;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .nav-1{
      background-color: #141414 !important;
  }
  .set-1{
    width: 500px;
    height: 300px;
  }
  .scrolling {
  color : #000000;
	animation: scrolling 2s linear infinite;
  -moz-animation: scrolling 2s linear infinite;
  -webkit-animation: scrolling 2s linear infinite;
  -ms-animation: scrolling 2s linear infinite;
  -o-animation: scrolling 2s linear infinite;
}
  /* scroll animation */
  @keyframes scrolling {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(50%)}
  }
  @-moz-keyframes scrolling {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(50%)}
  }
  @-webkit-keyframes scrolling {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(50%)}
  }
  @-ms-keyframes scrolling {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(50%)}
  }
  @-o-keyframes scrolling {
    0% {transform: translateY(-50%)}
    100% {transform: translateY(50%)}
  } 

  .scrolling-container {
    overflow : hidden;
    height: 34px;
  }
  .logo-small {
  color: white;
  font-size: 50px;
}

.logo {
  color: white;
  font-size: 200px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: white;
}

.carousel-indicators li {
  border-color: white;
}

.carousel-indicators li.active {
  background-color: white;
}

.item h4 {
  font-size: 25px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: bold;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}
.c3{
  color: white;
}
.about2{
  position: absolute;
  width: 550px;
  height: 100px;
  left: 100px;
  top: 140px;
  font-size: 25px;
}
.about3{
  position: absolute;
  width: 276px;
  height: 68px;
  left: 230px;
  top: 10px;
  font-size: 50px;
}
.skil-col{
  color: #C0916A;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: none;
  color: #151515;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #141414;
  color: white;
  min-width: 160px;
  z-index: 10;
}

.dropdown-content a {
  float: none;
  background-color: #141414;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #141414;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.responsive {
    max-width: 400px;
    height: auto;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #141414;
  color:#ffffff;
}
