{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'resume.css' %}">
  <link rel="stylesheet" href="{% static 'story1.css' %}">
  <link rel="stylesheet" href="{% static 'schedule.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default nav-1 fixed-top" style="position: fixed;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                     
      </button>
    {% block navbar %}

    {% endblock %}
  </div>
</nav>
{% block content %}
{% endblock %}
<!-- First Container -->
<footer class="container-fluid5 bg-5 text-center">
  <div id="contact">
  <p style="font-size: 25px;">Contact Me:</p>
        <a href="https://www.linkedin.com/in/muhammad-h-338b3411a/">
          <img src="{% static 'images/linkedin.svg'%}" width="60px" height="60px" style="display: inline-flexbox;">
        </a>
        <a href="https://www.instagram.com/mhasbii/">
          <img src="{% static 'images/insta.svg'%}" width="60px" height="60px" style="display: inline-flex;">
        </a>
        <a href="mailto:hasbim86@gmail.com">
          <img src="{% static 'images/mail.svg'%}" width="60px" height="60" style="display: inline-flex;">
        </a>
      </div>
    </div>
</footer>
</body>
</html>