{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'landing.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="line-height: 1.8;">
  <div id="container">
    <img src='static/images/landing3.jpg'/>
    <img src='static/images/landing2.jpg'/>
    <img src='static/images/landing4.jpg'/>
    <img src='static/images/landing5.jpg'/>
  
<div id="menu">
  <div id="menu-bar" onclick="menuOnClick()">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>
  <nav class="nav" style="font-family: Montserrat; line-height: 1.6;" id="nav">
    <ul>
      <li><a href="/story1">Story 1</a></li>
      <li><a href="#">Story 2</a></li>
      <li><a href="/story3">Story 3</a></li>
      <li><a href="#">Story 4</a></li>
      <li><a href="/story5">Story 5</a></li>
      <li><a href="/story6">Story 6</a></li>
      <li><a href="/story7">Story 7</a></li>
      <li><a href="/story8">Story 8</a></li>
      <li><a href="/story9">Story 9</a></li>
      <li><a href="#">Story 10</a></li>
    </ul>
  </nav>
</div>
<div class="menu-bg" id="menu-bg"></div>

<div class="contain">
  <div class="centered" style="
  font-family: 'Cardo', serif; ">Welcome.</div>
  <div class="paragraph" style="
  font-family: 'Karma', serif;">this is Hasbi's personal website <br> please click one of my story in navigation bar on
      the top-left.
  </div>
</body>
<script>
  function menuOnClick() {
    document.getElementById("menu-bar").classList.toggle("change");
    document.getElementById("nav").classList.toggle("change");
    document.getElementById("menu-bg").classList.toggle("change-bg");
  }
</script>
</html>