{% extends 'base.html' %}

<body>
  {% block navbar %}
  <a class="navbar-brand transition" style="color: white; font-size: 20px; font-family: 'Homemade Apple', cursive;" href="/story3">Home</a>
</div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="dropdown-content">
        <a class="dropdown-toggle scrolling scrolling-container" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
          Task
        </a>
        <div class="dropdown-menu" style="color: white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="font-size: 15px;" href="/">Home Page</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story1">Story 1</a>
            <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story3">Story 3</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story5">Story 5</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story6">Story 6</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story7">Story 7</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story8">Story 8</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
        </div>
    </li>
    </ul>
  </div>
  {% endblock %}
  {% block content %}
<!-- First Container -->
<div class="container-fluid4 bg-res text-center" style="background-image: url('images/resume.jpg');" id="who">
  <p style="font-size: 95px; font-family: 'Merriweather', serif;" class="mx-auto my-0"><strong>Dig a little <br> deeper.</strong></p>
  <button class="button2" style="vertical-align:middle"><span><a style="color: #ffffff; font-family: 'Merriweather', serif;" href="https://resume.io/r/PepFMg6gW">resume</a></span>
</div>

{% endblock %}