{% extends 'base.html' %}

<body style="font-family: Montserrat;">
<!-- Navbar -->
{% block navbar %}
<a class="navbar-brand transition" style="color: white; font-size: 20px; font-family: 'Homemade Apple', cursive;" href="/">Home</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right ml-auto">
    <li><a style="color: white; font-size: 15px;" href="#about">About</a></li>
    <li><a style="color: white; font-size: 15px;" href="/story5">Schedule</a></li>
    <li class="dropdown-content">
      <a class="dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px;">
        Personal
      </a>
      <div class="dropdown-menu" style="color: white;" aria-labelledby="navbarDropdownMenuLink">
          <a style="color: white; font-size: 15px;" href="#edu">Education</a>
          <a class="dropdown-item" style="font-size: 15px;" href="#hobi">Hobbies</a>
          <a class="dropdown-item" style="font-size: 15px;" href="#skills">Skills</a>
          <a class="dropdown-item" style=" font-size: 15px;" href="/story7">Telisik</a>
          <a class="dropdown-item" style=" font-size: 15px;" href="/resume">Resume</a>
      </div>
    </li>
    <li><a style="color: white; font-size: 15px;" href="/story9">Login</a></li>
    <li class="dropdown-content">
      <a class="dropdown-toggle scrolling scrolling-container" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
        Task
      </a>
      <div class="dropdown-menu" style="color: white;" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" style="font-size: 15px;" href="/">Home Page</a>
          <a class="dropdown-item" style="font-size: 15px;" href="/story1">Story 1</a>
          <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
          <a class="dropdown-item" style="font-size: 15px;" href="/story3">Story 3</a>
          <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
          <a class="dropdown-item" style="font-size: 15px; " href="/story5">Story 5</a>
          <a class="dropdown-item" style="font-size: 15px;" href="/story6">Story 6</a>
          <a class="dropdown-item" style="font-size: 15px;" href="/story7">Story 7</a>
          <a class="dropdown-item" style="font-size: 15px;" href="/story8">Story 8</a>
          <a class="dropdown-item" style="font-size: 15px; " href="/story9">Story 9</a>
          <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
      </div>
  </li>
  </ul>
</div>
{% endblock %}
{% block content %}
<!-- First Container -->
<div class="container-fluid2 bg-1 text-center" id="container">
  <p style="font-size: 85px;" class="mx-auto my-0 text-uppercase">Hello!</p>
  <button class="button1" style="vertical-align:middle"><span><a style="color: #151515;" href="#about">explore</a> </span>
</div>

<!-- Second Container -->
<div class="container-fluid bg-4 text-center" id="about">   
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="static/images/foto-fix.png" class="img-responsive margin" style="display: inline;">
    </div>
    <div class="col-sm-12 col-md-6" >
      <h2 style="font-size: 48px;">About Me</h2>
      <p style="padding-top: 10%; justify-content: left; font-size: 100%; line-height: 1.6;">Hello, my name is <strong style="font-size: 120%;"> Muhammad Hasbi</strong><br /> I'm sophomore student at Universitas Indonesia majoring Information System.
        I'm a person who is very aware of global issues because i have a great passion for all new things and i'm eager to be challenged in order to grow and further improve my skills.<br><br>
        <button class="button1" style="border-radius: 6px; background-color: #C4C4C4; font-size: 18px;vertical-align:middle"><span><a style="color: #151515; font-size: 18px;" href="#contact">Contact Me</a></span></p>
    </div>
  </div>
</div>

<!-- Third Container -->
<div class="container-fluid bg-3 text-center" id="edu">
  <h2 style="font-size: 48px;">Education History</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <h4>Universitas Indonesia<br><span style="font-style:normal;">2019 - Present</span></h4>
      </div>
      <div class="item">
        <h4>SMAN 2 Kota Serang<br><span style="font-style:normal;">2016 - 2019</span></h4>
      </div>
      <div class="item">
        <h4>SMPN 15 Kota Serang<br><span style="font-style:normal;">2013 - 2016</span></h4>
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Fourth Container (Grid) -->
<div class="container-fluid bg-4 text-center" id="hobi">    
  <h2 style="text-align: right; padding-bottom: 40px; font-size: 48px;">Hobbies</h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="static/images/music.png" class="img-responsive margin">
      </div>
      <div class="col-sm-4">
        <img src="static/images/reading.png" class="img-responsive margin">
      </div>
      <div class="col-sm-4">
        <img src="static/images/netflix.png" class="img-responsive margin">
      </div>
    </div>
  </div>

<!-- Fifth Container (Grid) -->
  <div class="container-fluid bg-5 text-center" id="skills">
    <h2 style="text-align: left; padding-bottom: 40px; font-size: 48px; color: #F3D0B2;">Skills</h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="static/images/programming.png" style="height: 150px; width: 190px;">
        <h3 class="skil-col">Programming</h3>
        <p class="skil-col">python, java, html, css</p>
      </div>
      <div class="col-sm-4">
        <img src="static/images/book.png" style="height: 130px; width: 140px;">
        <br>
        <h3 class="skil-col">Fast Learner</h3>
      </div>
      <div class="col-sm-4">
        <img src="static/images/mic.png" style="height: 130px; width: 140px;">
        <br>
        <h3 class="skil-col">Public Speaking</h3>
      </div>
    </div>
      <br><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="static/images/math1.png" style="height: 130px; width: 140px;">
        <br>
        <h3 class="skil-col">Math and Economic</h3>
      </div>
      <div class="col-sm-4">
        <img src="static/images/globe.png" style="height: 130px; width: 140px;">
        <br>
        <h3 class="skil-col">Languages</h3>
        <p class="skil-col">Bahasa Indonesia (Native) <br/> English (Fluent)</p>
      </div>
      <div class="col-sm-4">
        <img src="static/images/time.png" style="height: 130px; width: 140px;">
        <br>
        <h3 class="skil-col">Time Management <br> and <br> Hard Worker</h3>
      </div>
    </div>
  </div>
{% endblock %}
