{% extends 'base.html' %}

<body>
{% block navbar %}
<!-- Navbar -->
      <a class="navbar-brand" style="color: white; font-size: 25px; font-family: 'Homemade Apple', cursive;" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <li><a style="color: white; font-size: 20px;" href="#about">About</a></li>
        <li><a style="color: white; font-size: 20px;" href="#edu">Education</a></li>
        <li> <a style="color: white; font-size: 20px; opacity: 0.4;" class="scrolling scrolling-container" href="#hobi">Hobbies</a></li>
      </ul>
    </div>
  {% endblock %}

{% block content %}
<!-- First Container -->
<div class="container-fluid bg-9 text-center" id="who">
  <h1 class="margin">Muhammad Hasbi</h1>
  <img src="static/images/Foto.png" class="img-responsive margin" style="display:inline" alt="hasbi" width="350" height="350">
  <h2>ID : 1906398811<br />
  Information System'19</h2>
</div>

<!-- Second Container -->
<div class="container-fluid bg-10 text-center" id="about">
  <h2 class="margin">About Me...</h2>
  <p style="font-size: 20px;"> Hello, my name is Muhammad Hasbi i'm sophomore student at Universitas Indonesia majoring Information System. <br />
  I'm a person who is very aware of global issues because i have a great passion for all new things and i'm eager to be challenged in order to grow and further improve my skills.
  I also have favorite things to do, My hobby is reading a novel, scrolling social media and also watching a movies or series is my lyfe. </p>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-11 text-center" id="edu">    
  <h2 class="margin">Education History</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <p style="font-size: 20px;">Universitas Indonesia</p>
      <p style="font-size: 20px;">2019 - Present</p>
      <img src="static/images/ui.jpeg" class="img-responsive img-rounded margin set-1" alt="ui">
      <a href="https://www.ui.ac.id/" class="btn btn-primary" >Visit</a>
    </div>
    <div class="col-sm-4"> 
      <p style="font-size: 20px;">SMAN 2 Kota Serang</p>
      <p style="font-size: 20px;">2016 - 2019</p>
      <img src="static/images/sma.jpg" class="img-responsive img-rounded margin set-1" alt="sma">
      <a href="https://sman2kotaserang.sch.id/" class="btn btn-primary" >Visit</a>
    </div>
    <div class="col-sm-4"> 
      <p style="font-size: 20px;">SMPN 15 Kota Serang</p>
      <p style="font-size: 20px;">2013 - 2016</p>
      <img src="static/images/smp.jpg" class="img-responsive img-rounded margin set-1" alt="smp">
      <a href="https://www.edumor.com/sekolah/137299/smp-negeri-15-kota-serang" class="btn btn-primary" >Visit</a>
    </div>
  </div>
</div>
{% endblock %}