{% extends 'base.html' %}

<body>
  {% block navbar %}
  <a class="navbar-brand transition" style="color: white; font-size: 20px; font-family: 'Homemade Apple', cursive;" href="/story3">Home</a>
</div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="dropdown-content">
        <a class="dropdown-toggle scrolling scrolling-container" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
          Task
        </a>
        <div class="dropdown-menu" style="color: white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="font-size: 15px;" href="/">Home Page</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story1">Story 1</a>
            <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story3">Story 3</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
            <a class="dropdown-item" style="font-size: 15px; " href="/story5">Story 5</a>
            <a class="dropdown-item" style="font-size: 15px; " href="/story6">Story 6</a>
            <a class="dropdown-item" style="font-size: 15px; " href="/story7">Story 7</a>
            <a class="dropdown-item" style="font-size: 15px; " href="/story8">Story 8</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
        </div>
    </li>
    </ul>
  </div>
  {% endblock %}
{% block content %}
<div class='container-fluid' style="background-color: #F0F0F0;">
    <br/>
    <h1 style="color: #555555; text-align: center;" > Deskripsi </h1><br/>
    {% for i in data %}
        <div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th scope="row">Nama Mata Kuliah</th>
                    <td>{{ i.nama }}</td>
                </tr>
                <tr>
                    <th scope="row">Nama Dosen</th>
                    <td>{{ i.dosen }}</td>
                </tr>
                <tr>
                    <th scope="row">Jumlah SKS</th>
                    <td>{{ i.jumlahsks }}</td>
                </tr>
                <tr>
                    <th scope="row">Deskripsi</th>
                    <td>{{ i.deskripsi }}</td>
                </tr>
                <tr>
                    <th scope="row">Semester Tahun</th>
                    <td>{{ i.semestertahun }}</td>
                </tr>
                <tr>
                    <th scope="row">Ruangan</th>
                    <td>{{ i.ruangan }}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <br><br>
        <div>
            <a href="/story5">
                <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 43%;">Back</button>
            </a>
            <a href="/story5/delete/{{ i.nama }}">
                <button type="submit" class="btn" style="background-color: #141414; color: white; margin-left: 4%;">Delete</button>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}