{% extends 'base.html' %}

  {% block navbar %}
  <a class="navbar-brand transition" style="color: white; font-size: 20px; font-family: 'Homemade Apple', cursive;" href="/story3">Home</a>
</div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="dropdown-content">
        <a class="dropdown-toggle scrolling scrolling-container" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 15px; opacity: 0.4;">
          Task
        </a>
        <div class="dropdown-menu" style="color: white;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="font-size: 15px;" href="/">Home Page</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story1">Story 1</a>
            <a class="dropdown-item" style=" font-size: 15px; opacity: 0.4;" href="#">Story 2</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story3">Story 3</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 4</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story5">Story 5</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story6">Story 6</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story7">Story 7</a>
            <a class="dropdown-item" style="font-size: 15px;" href="/story8">Story 8</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 9</a>
            <a class="dropdown-item" style="font-size: 15px; opacity: 0.4;" href="#">Story 10</a>
        </div>
    </li>
    </ul>
  </div>
  {% endblock %}

  {% block content %}
  <div class="container-fluid" style="background-color: #F0F0F0;">
  <h1 id="jfont" style="color: #555555;">Jadwal Mata Kuliah</h1>
    <div id="Matkul">
        <div id="bton2">
            <a href="/story5/#lihat_jadwal">
                <button class="btn" style="background-color: #555555; color: white; font-size: 20px;">Jadwal Terdaftar</button>
            </a>
        </div>
        <h3 style="color: #555555;">Tambah Jadwal</h3> <br>
        <form id="form" style="padding: 2px;" method="POST" action="/story5/post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form_tambah.as_p }}
            </div>
            <br>
            <button type="submit" class="btn" style="background-color: #555555; color: white; font-size: 17px;" id="bton">Tambah</button>
        </form>
    </div>
    <div id="lihat_jadwal">
        <table>
            <tr>
                <th style="text-align: center; padding: 1%; color: #555555;">Jadwal Terdaftar</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td style="padding: 1%;">
                        <a href="/story5/{{ i.nama }}">
                            <p>{{ i.nama }}</p>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </div>
  {% endblock %}
