.topnav{
    background-color: #333;
    overflow: hidden;
  }
  .topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  .topnav a.active{
    background-color: #F0F0F0;
    color: white;
  }
  .container-fluid {
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }
  .responsive {
    width: 70%;
    height: 70%;
    align-content: center;
  }
  .container-fluid2{
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 30px ;
    margin-left: 2%;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:  #474e5d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {
    background-color: #f2a07b;
}

.button:active {
    background-color: #f2a07b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#j-font {
    font-family: 'Caveat', cursive;
    font-size: 400%;
    text-align: center;
}
  .bg-1 { 
    background-color: #F0F0F0;
    background-image: url(latar.png);
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }

  h1{
    font-size: 4vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }
  
  h2{
    font-size: 3.5vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  h3{
    font-size:1.5vw;
    font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  p{
  font-size:1.5vw;
  font-family: 'Arial', 'Times New Roman', sans-serif;

  }
  
  @media only screen and (max-width: 767px) {

    h1 {
       font-size: 4em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    
    h2 {
       font-size: 3.5em;
       font-family: 'Arial', 'Times New Roman', sans-serif;

    }
    h3 {
      font-size: 1.5em;
      font-family: 'Arial', 'Times New Roman', sans-serif;

    } 
    p{
    font-size: 1.5em;
    font-family: 'Arial', 'Times New Roman', sans-serif;

    }
  
    }
  