body {
    margin: 0px;
    background-color: #F0F0F0;
    background-image: url(latar.png);
}

body, div, h1, h2, h3, h4, h5, span, a, button, input {
    font-family: 'Merriweather', serif;
}

.main-login {
    width: 100vw;
    display: block;
    flex-direction: row;
    overflow: hidden;

}
.bg-1 { 
    background-color: #F0F0F0;
    background-image: url(latar.png);
    font-family: 'Arial', 'Times New Roman', sans-serif;
  }
  .container-fluid2{
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 30px ;
    margin-left: 2%;
}

.content-section {
    background-color: #ffe866;
    width: 62vw;
    position: fixed;
    right: 0px;
    top: 0px;
}

.login-header {
    margin-bottom: 20px;
}


.login-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 60px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.input-label {
    font-weight: 500;
    text-align: center;
}

.label-group {
    margin-top: 14px;
    margin-bottom: 14px;
    justify-items: left;
}

.input {
    padding: 10px;
    display: flex;
    border-width: 4px;
    width: 100%;
    font-weight: 700;
    color: gray;
}

.label-group:focus-within .input-label {
    font-weight: 700;
}

.input-group {
    border-radius: 2px;
    border-width: 0px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 150%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    transition: all 0.15s;
}

.input-icon {
    height: 17px;
}

.main-button {
    margin-top: 10px;
    width: 150%;
    background-color: #474e5d;
    color: white;
    padding: 8px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover {
    /* background-color: RGB(180, 130, 150); */
    background-color: #f2a07b;
}

.hand {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new {
    color: gray;
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
}

.auth-section {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
    /*align-items: center;*/
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.error-message {
    color: red;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message {
    color: green;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage {
    width: 50vw;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    font-weight: 700;
}

.homepage-subtitle {
    font-size: 36px;
}

.logout-button {
    width: 100%;
    background-color: #666;
    padding: 10px;
    font-weight: 500;
    font-size: 30px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    align-items: center;
   
}

.homepage a {
    text-decoration: none;
}

.loading-hide {
    display: none !important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 3px;
    border: 4px solid black;
    border-radius: 80%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.password-strength {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.password-strength-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: red;
}

.password-strength-item.base {
    color: black;
}

.password-strength-item.valid {
    color: green;
}

.password-strength-icon {
    color: green;
    display: none;
    margin-right: 5px;
}

.password-strength-item.valid .password-strength-icon {
    display: inline-block;
}
